h1 {
  text-align: center;
}

.picture {
  display: block;
  text-align: center;
}

figcaption {
  display: block;
}

p {
  text-align: justify;
  text-indent: 15px;
}

#return {
  font-size: 16px;
}
